<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <title>TETR.IO PLUS: Templates</title>
    <style>
        body {
            max-width: 600px;
            font-family: sans-serif;
        }

        h1 {
            font-size: 1.5rem;
            margin: 0px;
        }

        p {
            margin-top: 5px;
            margin-bottom: 5px;
        }
    </style>
    <script defer src="../../shared/migrate.js"></script>
    <script defer src="../../shared/tpse-sanitizer.js"></script>
    <script defer src="./app.js" type="module"></script>
</head>
<body>
<fieldset>
    <legend>Video backgrounds setup</legend>
    <b>Warning</b>: this will replace your music graph config.<br>
    <b>Note:</b> reduce 'background opacity' in TETR.IO settings if you can't
    see your backgrounds.<br>
    <button id="videoBackgrounds">Install</button>
</fieldset>
</body>
</html>
